<div class="modal fade" id="news-holder" data-ng-controller="bezoMarkerSet" ng-init="newsBoxInit()">
	<div class="modal-dialog news-box">
		<ul class="news-box-menu">
			<li ng-click="showMyNews()" ng-class="">Новости</li>
			<li ng-click="showMySettings()">Настройки</li>
			<li ng-click="showMyMarkers()">Мои Маркеры</li>
			<li ng-click="showMySubscrubers()">Подписчики</li>
		</ul>

		<div ng-include src="activePartial"></div>

		<input type="search" class="light-table-filter" data-table="news-feed" placeholder="Фильтр новостей">

		<table class="table table-hover news-feed" ng-show="checkActiveTab(1)">
			<thead>
				<tr>
					<th class="news-title" ng-click="newsOrder('title')">Заголовок</th>
					<th class="news-type" ng-click="newsOrder('type')">Тип</th>
					<th class="news-adress" ng-click="newsOrder('place')">Адрес</th>
					<th class="news-date" ng-click="newsOrder('date')">Дата</th>
					<th class="news-xcoord" ng-click="newsOrder('xCoord')">Широта</th>
					<th class="news-ycoord" ng-click="newsOrder('yCoord')">Долгота</th>
			</tr>
			</thead>
			<!-- 
			<tr ng-repeat="marker in markers | orderBy:orderer" ng-class="marker.markerType" ng-attr-id="{{marker.markerID}}" ng-show="marker.visible" ng-click="markerLink(marker.markerID)">
			-->
			<tr ng-repeat="marker in markers | orderBy:orderer" ng-class="marker.markerType" ng-attr-id="{{marker.id}}" ng-click="markerLink(marker.id)">
				<td class="news-title">{{marker.title}}</td>
				<td class="news-type">{{marker.type}}</td>
				<td class="news-adress">{{marker.place}}</td>
				<td class="news-date">{{marker.date}}</td>
				<td class="news-xcoord">{{marker.xCoord}}</td>
				<td class="news-ycoord">{{marker.yCoord}}</td>	
			</tr>
		</table>


	</div>
</div>